In [4]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import pymongo

In [5]:
def init_browser():
    return Browser()

In [6]:
browser=Browser()

In [ ]:
#NASA Mars News

In [13]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [16]:
news_title=soup.find('div',class_='content_title')
news_title=news_title.text.strip()
news_title

"NASA's Curiosity Rover Finds an Ancient Oasis on Mars"

In [18]:
paragraph_text=soup.find('div',class_='article_teaser_body')
paragraph_text.text

"New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate."

In [ ]:
# JPL Mars Space Images - Featured Image

In [69]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [70]:
featured_image_url=soup.find(class_='carousel_item')

In [72]:
featured_image_url['style']

"background-image: url('/spaceimages/images/wallpaper/PIA16153-1920x1200.jpg');"

In [ ]:
# Mars Weather

In [74]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [78]:
mars_weather=soup.find(class_='tweet-text')
mars_weather=mars_weather.text.strip()
print(mars_weather)

InSight sol 314 (2019-10-15) low -102.8ºC (-153.0ºF) high -24.8ºC (-12.6ºF)
winds from the SSE at 4.9 m/s (11.1 mph) gusting to 19.7 m/s (44.0 mph)
pressure at 7.20 hPapic.twitter.com/VONawbIeG4

In [8]:
# Mars Facts

In [9]:
url = 'https://space-facts.com/mars/'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [19]:
MarsFacts=pd.read_html('https://space-facts.com/mars/')[1]
MarsFacts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
MarsFacts=MarsFacts.rename(columns={0:'Planet Profile',1:'Values'})
MarsFacts

         Planet Profile                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
# Mars Hemispheres

In [36]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [38]:
hemisphere_image_urls={}

In [39]:
hemisphere_img=soup.find_all('img',class_='wide-image')
for hemisphere in hemisphere_img:
    title=soup.find('div',class_=description).a.h3
    img_url='https://astrogeology.usgs.gov'+hemisphere['src']
    hemisphere _image_urls.append(title,image_url)
print(full_image)

SyntaxError: invalid syntax (<ipython-input-39-f29314cda070>, line 5)